
 /*Fuente Titulo*/
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 /*Fuente normal*/
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 /*CSS del html que se crea con el xml, el xsl y el php*/
body{
    background-color: rgb(0, 46, 69);
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: underline;
}
div#principal{
    font-family: 'Raleway', sans-serif;
    width: 80em;
    height: 15em;      
    border: solid 1px rgb(0, 0, 0);
    border-radius: 2em;
    background-color: rgb(225, 213, 235);
    display: flex;
    justify-content: center;    
}

div{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 11em;
    height: 11em;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;    
    border: solid 2px rgb(255, 255, 255);
    border-bottom-right-radius: 1em;
    background-color: rgb(190, 221, 233);
}
p#nombre{
    font-weight: 600;
}

