/*
 * Reto 1 Lenguaje de Marcas "Web terminal de autobuses"
 * Israel Sousa y Aitor Martinez
 */

 /*Fuente Titulo*/
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 /*Fuente normal*/
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 header, nav, div#contenido, div#contenido table, footer{
     border: 1px solid black;
 }
 /*Cabecera*/
 *{
     /*color:white;*/
     font-family: 'Raleway', sans-serif;
     margin: 0px;
     padding: 0px;
 }
 header{
     background-color: white; 
     text-align: center;
     font-size: 40px;
     color: black;
     display: flex;
 }
 header img{
     height: 150px;
     width: 175px;
     align-content: flex-start;
 }
 header p{
     align-content: center;
     color: black;
     margin-left: 280.75px;
     margin-top: 4%;
     font-family: 'Lobster', cursive;
     font-size: 50px;
     /*Centra el titulo*/
     margin: 0 auto;
     margin-top: 40px;
 }

 /*Cuerpo*/

 /*NAV*/
 nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

 nav p{
     text-align: center;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #333;
    border: 1px solid rgb(255, 255, 255);
}
.active:hover{
    background-color: #111;
}
li#descripcion_pagina{
    /*Centra el titulo*/
    text-align: center;
    margin-top: -35px;
    margin-left: 90px;
    width: 95.18%;
    color: white;
}
/* fin NAV*/
div#cajaPrincipal img{
    height: 363.5px;
    width: 287.5px;
    border: solid 3px rgb(38, 80, 100);
    border-radius: 3px;
    /*Centra la imagen*/
    margin: 0 auto;
    margin-top: 5%;
    /*Sombra*/
    box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.212);
}
p#texto{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
}
 nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

div#titular {
     color: rgb(0, 46, 69);

}

div#texto1 {
    padding: 10px;
}

 div#cajaPrincipal {
     background-color: rgb(0, 46, 69); 
     display: flex;
     flex-flow: column;
     height: 700px;
     width: 800;
     /*margin: auto;*/
     border: 3px solid rgb(38, 80, 100);
 }

.active {
    background-color: #333;
    border: 1px solid rgb(255, 255, 255);
}
.active:hover{
    background-color: #111;
}

/*Pie de página*/
 footer {
    background-color: rgb(231, 231, 230);
	height: 40px;
 }
 footer *{
     color: black;
 }
 footer p{
     margin-top: 10px;
     margin-left: 10px;
 }
 footer a:hover{
     color: rgb(0, 46, 69);
 }